@import "../../stylesheets/abstracts/mixins";
@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";

// Introduction.
$mobile-minimum-height: 450px;
$desktop-minimum-height: 650px;
$overlay-opacity: 0.75;

.introduction {
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  min-height: $mobile-minimum-height;
  @include tablet {
    min-height: $desktop-minimum-height;
  }
  &:before {
    @extend %pseudo;
    position: absolute;
    top: 0;
    vertical-align: top;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: $overlay-opacity;
    z-index: 1;
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  &__title {
    padding-bottom: 0;
  }
  &__subtitle {
    padding-top: 0.5rem;
    color: $primary-color;
  }
}

// Scroll.
.scroll {
  @extend %hover;
  position: absolute;
  bottom: 7.5vh;
  left: 50%;
  z-index: 2;
  animation: bounce 1.25s infinite;
  &__icon {
    width: 40px;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
}
