@import "../../stylesheets/abstracts/mixins";
@import "../../stylesheets/abstracts/variables";

// Button.
$button-width: 200px;
$button-height: 55px;

.button {
  background: $primary-color;
  color: white;
  width: $button-width;
  height: $button-height;
  display: inline-grid;
  place-items: center;
  font-weight: $medium;
  margin: 0.5rem;
  transition: background ease-in-out 0.3s;
  &:hover {
    background: #2ca5a5;
  }
}
