@import "../../stylesheets/abstracts/mixins";
@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";

// Logo.
$mobile-width: 150px;
$desktop-width: 250px;

.logo {
  @extend %hover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 5;
  @include tablet {
    left: 0;
    transform: translateY(-50%);
  }
  &__image {
    width: $mobile-width;
    @include tablet {
      width: $desktop-width;
    }
  }
}
