@import "../../stylesheets/abstracts/mixins";
@import "../../stylesheets/abstracts/variables";

// Navigation.
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: $primary-grey;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &--open {
    transform: initial;
  }
  &__item {
    display: inline-block;
    color: $white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: $medium;
    &--dropdown {
      color: $primary-color;
      position: relative;
      padding-right: 1.5rem;
      &:before {
        display: block;
        content: "";
        background: url("http://localhost:3000/static/media/chevron-down.bbbc338e.svg")
          no-repeat center / contain;
        width: 15px;
        height: 10px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: transform 0.15s ease-in-out;
      }
    }
    &--open {
      &:before {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}
