@import "../../stylesheets/abstracts/mixins";
@import "../../stylesheets/abstracts/variables";

// Header.
$mobile-header-height: 75px;
$desktop-header-height: 110px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  transition: background 0.15s ease-in-out;
  padding: 0 2rem;
  @include tablet {
    padding: 0 4rem;
  }

  &--background {
    background: #131313;
  }

  &__inner {
    position: relative;
    height: $mobile-header-height;
    @include tablet {
      height: $desktop-header-height;
    }
  }
}
