@import "../../stylesheets/abstracts/mixins";
@import "../../stylesheets/abstracts/variables";

// Section.
$padding: 5rem 0;

.section {
  background: $primary-grey;
  padding: $padding;
  text-align: center;
  &__title {
    padding-top: 0;
  }
  &__subtitle {
    padding-top: 0;
    color: $primary-color;
  }
}
